body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1{
	color:#45E824;
}

h2{
	color:#45E824;
}

.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

body{
    background-image: radial-gradient(circle, #fff, #0098FF);
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
    font-family: 'Ubuntu', sans-serif;
}
    .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
    .box-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
    .content{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        background-color: white;
        border-radius: 10px;
        padding: 20px;
    }
    .content h1{
    color:#0065A1;
    }

    .btn-group-caixa{
    display:flex;
    flex-direction: column;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    }

    .btn-group-caixa button{
    margin: 2px;
    height: 30px;
    border-radius: 5px;
    background: #0065A1;
    text-decoration: none;
    }

    .btn-group-caixa a{
        color: white;
        font-weight: 500;
        text-decoration: none;
    }

    .icones{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
    text-align: center;
    width: 200px;
    }

    .container-icones{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    }

    .icones img {
     height: 75px;
    }